
{% extends "app1/base.html" %}
{% block content %}
    <div class="container">
      <div class="row justify-content-around" name="about" id="about">
        <div class="col-4 my-face-container">
          <div>
            <img src="/static/app1/images/IMG-0882.jpg" alt="face" class="my-face" />
          </div>
        </div>
        <div class="col-6 hello-there-container">
          <div class="row">
            <h2 class="hello-there">Hello there</h2>
            <br />
            <h4 class="intro">
              My name is Abraham, but you can call me Abe. I’m a freshman at
              University of Indonesia. I have a strong passion for web
              development.
            </h4>
          </div>
        </div>
      </div>
    </div>
{%endblock%}