{% extends "app1/base.html" %}
{% block content %}
<div class="container friends-main">
    <div class="row" id="friends" name="friends">
        <div class="col-12 title-container">
            <h2>Enter you info</h2>
        </div>
    </div>
    <div
        class="row d-flex justify-content-center flex-lg-wrap friends-content"
    >
    
        <form class="friend-form" method="POST"> 
            {% csrf_token %}
             <div class="form-group">
                <label for="name">Name</label><br>
                {{ form.name }}
            </div>
            <div class="form-group">
                <label for="FormControlTextarea1">Hobbies</label><br>
                {{ form.hobby }}
            </div>
            <div class="form-group">
                <label for="FormControlTextarea1">Favourite foods/drinks</label><br>
                {{ form.favourite }}
            </div> 
            
            <div class="form-group">
                <label for="FormControlTextarea1">Class year</label><br>
                <ul style="list-style-type: none; color: black;">
                    <li id="year">{{ form.classYear }}</li>
                </ul>
            </div>
            <br>
            <button type="submit" class="save btn btn-primary">Submit</button>
        </form>


    </div>
</div>
{%endblock%}    