{% extends "app1/base.html" %}
{% block content %}
<div class="container friends-main">
    <div class="row" id="friends" name="friends">
        <div class="col-12 title-container">
            <h2>My friends :)</h2>
        </div>
    </div>
    <div
        class="row d-flex justify-content-center flex-lg-wrap friends-content"
    >


        <table class="table table-striped friends-table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Hobby</th>
                    <th scope="col">Favourite</th>
                    <th scope="col">Year</th>
                </tr>
            </thead>
            {% for friend in allfriends %}
            <tr>
                <td>{{friend.name}}</td>
                <td>{{friend.hobby}}</td>
                <td>{{friend.favourite}}</td>
                <td>{{friend.classYear}}</td>
            </tr>
            {% endfor %}
        </table>
    
    </div>
</div>
{%endblock%}    