{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="{% static 'app1/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app1/css/bootstrap.min.css' %}" />

    <title>Story 4</title>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark fixed-top nav-bg-custom">
        <a class="navbar-brand" href="#">ABRAHAM</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarTogglerDemo02"
          aria-controls="navbarTogglerDemo02"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="github" href="https://github.com/abebrahmana"
                ><img src="/static/app1/images/github(1).png" alt="linkedin" height="20px"
              /></a>
            </li>
            <li class="nav-item">
              <a
                class="linkedin"
                href="https://www.linkedin.com/in/abraham-brahmana-783b49197/"
                ><img src="/static/app1/images/linkedin.png" alt="linkedin" height="20px"
              /></a>
            </li>
          </ul>
          <ul class="navbar-nav mt-2 ml-auto mt-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'about' %}">ABOUT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'passion' %}">PASSION</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'work' %}">WORK</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'blog' %}">BLOG</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'modal' %}">MODAL</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'forms' %}">FORM</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'friends' %}">FRIENDS</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <section class="me" name="me" id="me">
      <div class="me-text">
        <h1 class="display-3">
          HI,<br />
          I'M ABRAHAM
        </h1>
      </div>
    </section>

    <script type="text/javascript" src="{% static 'app1/js/bootstrap.jquery.js' %}" ></script>
    <script type="text/javascript" src="{% static 'app1/js/bootstrap.popper.js' %}" ></script>
    <script type="text/javascript" src="{% static 'app1/js/bootstrap.min.js' %}" ></script>
  </body>
</html>
