{% extends "app1/base.html" %}
{% block content %}
    <section class="modal-ppw" name="modal-ppw" id="modal-ppw">
        <div class="modal-ppw-content">
          <button
            type="button"
            class="btn btn-primary"
            data-toggle="modal"
            data-target="#ModalCenter"
          >
            funny picture
          </button>
        </div>
      </section>
  
      <div
        class="modal fade"
        id="ModalCenter"
        tabindex="-1"
        role="dialog"
        aria-labelledby="ModalCenterTitle"
        aria-hidden="true"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="ModalLongTitle">Insert funny title</h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <img src="/static/app1/images/yeet.png" class="yeet" alt="yeeted" />
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
      {%endblock%}