{% extends "app1/base.html" %}
{% block content %}
    <div class="container work-main">
        <div class="row" id="work" name="work">
          <div class="col-12 title-container">
            <h2>My projects</h2>
          </div>
        </div>
        <div class="row d-flex justify-content-around passion-content">
          <div class="col-md-5 col-10 workk">
            <img
              src="/static/app1/images/Screenshot_2020-02-12 Story 1.jpg"
              alt="project1"
              class="project"
            />
          </div>
          <div class="col-md-1 col-10"><!-- empty div d-none d-lg-block--></div>
          <div class="col-md-5 col-10 workk">
            <img
              src="/static/app1/images/Screenshot_2020-02-12 Gallery.png"
              alt="project2"
              class="project"
            />
          </div>
        </div>
      </div>

{%endblock%}