html {
  scroll-behavior: smooth;
}

body {
  background-color: #f4fa9c !important;
}

.nav-bg-custom {
  background-color: #ba53de;
}

.github {
  padding-right: 15px;
}

.nav-link {
  color: #abd5ff !important;
}

.navbar-brand {
  color: #abd5ff !important;
}

.me {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/static/app1/images/background.png);
  height: 100vh;
}

.me-text {
  color: #f4fa9c;
  animation: fadein 2s;
  -moz-animation: fadein 2s;
  -webkit-animation: fadein 2s;
  text-align: left;
  text-decoration: none;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.row {
  background-color: #f4fa9c;
}

.my-face {
  width: 90%;
  transform: rotate(40deg);
  border-radius: 50%;
}

.sticky-top {
  position: fixed;
  width: 100%;
  top: 0;
}

.my-face-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hello-there-container {
  height: 100vh;
  display: flex;
  align-items: center;
}

h2 {
  text-align: center;
}

.hello-there {
  color: #ba53de;
}

.intro {
  color: #c853f1;
}

.passionn {
  background-color: #acd5ff;
  height: 60vh;
  padding: 20px;
}

.passion-main {
  height: 100vh;
}

.title-container {
  margin-top: 100px;
  margin-bottom: 30px;
  color: #ba53de;
}

.work-main {
  height: 100vh;
}

.passionn h4 {
  color: #c853f1;
}

.passionn p {
  color: #af51d0;
}

.project {
  width: 100%;
}

.workk {
  height: 60vh;
  overflow-y: auto;
}

.modal-ppw {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.yeet {
  width: 100%;
}

.poster {
  width: 100%;
}

.moviee {
  text-align: center;
  color: #af51d0;
}

@media (max-width: 768px) {
  .moviee {
    font-size: 20px;
  }
  .passionn {
    height: auto;
  }
}

.copyright{
  color: #af51d0;
  margin-bottom: 0;
  padding-bottom: 0;
  text-align: center;
}

